/*--- BUENAS PRACTICAS: MOBILE FIRST ---*/
/*--- Tipografias accesibles: Atkinson. Sarabun y Montesarrat ---*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*--- Variables CSS ---*/
:root{
  --background-body: PowderBlue;
  --background-heading: LightCyan;
  --background-main: HoneyDew;
  --background-section: HoneyDew ;
  --background-article: MintCream;
  --background-aside: Cornsilk;
  --background-nav: LemonChiffon;
  --background-cv: mistyrose;
  --background-papers: blue;
  --background-blog: yellow;

  --font-family-body: "Atkinson+Hyperlegible",sans-serif;
  --font-family-heading: "Montserrat",sans-serif;
  --font-family-main: "Sarabun",sans-serif;
}

/*--- Delimitadores globales ---*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: var(--background-body);
  font-family: var(--font-family-body);
  font-style: normal;
  font-size: 1rem;
  width: 100%;
  height: 70%;
}
p{
  text-align: center;
  text-decoration: none;
}

/*--- Estilos de encabezados ---*/
header, div{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: content-box;
  height: 15%;
  background-color: var(--background-heading);
}
footer{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: content-box;
  height: 15%;
  background-color: var(--background-heading);
  margin: 1.5%;
  padding: 1.5%;
}
footer a img{
  width: 100%;
  height: 100%;
  margin: 1%;
}
h1{
  font-family: var(--font-family-body);
  font-weight: 400;
}

/*--- Estilos del main ---*/
main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-items: center;
  align-items: center;
  height: 40%;
  margin: 1.5%;
  padding: 1.5%;
}
main img{
  width: 20%;
  margin: 5%;
}

/*--- EStilos de aside ---*/
aside{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  height: 15%;
  background-color: var(--background-aside);
  margin: 1.5%;
  padding: 1.5%;
}
aside img{
  width: 100%;
  height: 100%;
  margin: 1%;
}
aside div{
  display: flex;
  flex-direction: column;
  background-color: var(--background-aside);
}
a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
	height: 5rem;
	border-radius: 50%;
  margin:0.5rem;
  justify-items: center;
  font-family: var(--font-family-heading);
}
h2{
  font-family: var(--font-family-heading);
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
/*--- Menú hamburgesa para pantallas smaartphone
@media (min-width:<=360px){
  .respmenu{
    color:inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }
  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }

}
*/